{% extends 'manufacturers/layout.html.twig' %}

{% block content %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Home</a></li>
        <li class="breadcrumb-item">
            <a href="{{ path('manufacturers_list') }}">Manufacturers</a>
        </li>
        <li class="breadcrumb-item active">Create</li>
    </ol>
    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="card">
                <div class="card-header">Creation of a Manufacturer</div>
                <div class="card-body">
                    <form action="{{ path('manufacturers_create') }}" method="post">
                        <p>
                            <a href="{{ path('manufacturers_list') }}" class="btn btn-secondary"><i class="fa fa-arrow-left"></i> Back to Manufacturers list</a>
                            <button type="submit" class="btn btn-success"><i class="fa fa-check"></i> Create</button>
                        </p>

                        <div class="row">
                            <div class="col col-12 col-xl-6">
                                {{ form_errors(form) }}

                                {{ form_row(form.name) }}
                                {{ form_row(form.code, {'help': 'The uppercased short name of the manufacturer. e.g., RSI for "Robert Space Industries".'}) }}
                            </div>
                        </div>

                        {% if form._token is defined %}
                            {{ form_widget(form._token) }}
                        {% endif %}

                        <p class="mb-0">
                            <a href="{{ path('manufacturers_list') }}" class="btn btn-secondary"><i class="fa fa-arrow-left"></i> Back to Manufacturers list</a>
                            <button type="submit" class="btn btn-success"><i class="fa fa-check"></i> Create</button>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
