{% extends 'manufacturers/layout.html.twig' %}

{% block content %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Home</a></li>
        <li class="breadcrumb-item">
            <a href="{{ path('manufacturers_list') }}">Manufacturers</a>
        </li>
        <li class="breadcrumb-item active">Details</li>
    </ol>
    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="card">
                <div class="card-header">Details of a Manufacturer</div>
                <div class="card-body">
                    <p>
                        <a href="{{ path('manufacturers_list') }}" class="btn btn-secondary"><i class="fa fa-arrow-left"></i> Back to Manufacturers list</a>
                        {% if is_granted('ROLE_MODERATOR') %}
                            <a href="{{ path('manufacturers_edit', {'slug': manufacturer.slug}) }}" class="btn btn-primary"><i class="fa fa-edit"></i> Edit</a>
                        {% endif %}
                    </p>

                    <div class="row">
                        <div class="col col-12 col-xl-6">
                            {% for label, messages in app.flashes %}
                                {% for message in messages %}
                                    <div class="alert alert-{{ label }}">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            {% endfor %}

                            <dl class="row">
                                <dt class="col-sm-3">Name</dt>
                                <dd class="col-sm-9">{{ manufacturer.name }}</dd>
                                <dt class="col-sm-3">Code</dt>
                                <dd class="col-sm-9">{{ manufacturer.code }}</dd>
                                <dt class="col-sm-3">Chassis</dt>
                                <dd class="col-sm-9">
                                    <ul>
                                        {% for chassis in manufacturerChassis %}
                                            <li><a href="{{ path('ship_chassis_details', {'slug': chassis.slug}) }}">{{ chassis.name }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </dd>
                            </dl>

                            {% if is_granted('ROLE_MODERATOR') %}
                                {% include('_entity_loggable.html.twig') with {'last_logs': last_logs} %}
                            {% endif %}
                        </div>
                    </div>

                    <p class="mb-0">
                        <a href="{{ path('manufacturers_list') }}" class="btn btn-secondary"><i class="fa fa-arrow-left"></i> Back to Manufacturers list</a>
                        {% if is_granted('ROLE_MODERATOR') %}
                            <a href="{{ path('manufacturers_edit', {'slug': manufacturer.slug}) }}" class="btn btn-primary"><i class="fa fa-edit"></i> Edit</a>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
